{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <style>
        .import-field {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    </style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{% trans "Authentication and Authorization" %}</a> &rsaquo;
        <a href="{% url opts|admin_urlname:'changelist' %}">{% trans "Users" %}</a> &rsaquo;
        {% trans "Import from CSV" %}
    </div>
{% endblock %}

{% block content %}<div id="content-main">
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type='hidden' name='action' value='csv-form'>
        <fieldset class="module aligned">
            <h2>Import</h2>
            <div class="form-row"><div>
                {{ csv_form }}
                <a href="{% url 'admin:user_import_sample' %}">Sample</a>
                <input type="submit" value="Load">
            </div></div>
        </fieldset>
    </form>
    {% if import_form.forms %}
        <form method="post">
            {% csrf_token %}
            <input type='hidden' name='action' value='import-form'>
            {% if import_form.errors %}
                <p class="errornote">
                {% if errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
                </p>
                {{ import_form.form.non_field_errors }}
            {% endif %}
            {{ import_form.management_form }}
            <fieldset class="module">
                <h2>Preview</h2>
                <div class="form-row"><div>
                <table>
                    <thead>
                        {% for form in import_form|slice:':1' %}
                            <tr>
                                {% for field in form %}<th>{{ field.label }}</th>{% endfor %}
                            </tr>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for form in import_form %}
                            <tr>
                                {% for field in form %}
                                    <td>
                                        <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="{{ field.value|default_if_none:'' }}" class="import-field" aria-label="{{ field.label }}"/>
                                        {{ field.errors }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        {% for form in import_form|slice:':1' %}
                            <tr>
                                {% for field in form %}<th>{{ field.label }}</th>{% endfor %}
                            </tr>
                        {% endfor %}
                    </tfoot>
                </table>
                </div></div>
            </fieldset>
            <div id="bottombar">
                <button title="{% trans 'Save' %}" type="submit" name="_save" onclick="return confirm('Are you sure?')">
                    <i class="fa fa-lg fa-floppy-o"></i>
                    <i class="fa fa-caret-right"></i>
                    {% if is_popup %}
                        <i class="fa fa-lg fa-times"></i>
                    {% else %}
                        <i class="fa fa-lg fa-list-alt"></i>
                    {% endif %}
                    <span class="text">{% trans 'Save' %}</span>
                </button>
            </div>
        </form>
    {% endif %}
{% endblock %}